<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marvel Viewer</title>

    {% block styles %}
        <link rel="stylesheet" href="{{ url('css/style.css') }}"/>
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h1>
            <a href="{{ URL.route('home') }}">Marvel Viewer</a>
        </h1>
    </div>

    <div>
        {% include 'frontend/partials/_navbar.twig' %}
    </div>

    {% block content %}
    {% endblock %}
</div>

{% block scripts %}
{% endblock %}
</body>
</html>