<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Lang.get('frontend/navbar.title') }}</title>

    {% block styles %}
        <link rel="stylesheet" href="{{ elixir('assets/css/app.css') }}"/>
    {% endblock %}
</head>
<body>
{% include 'frontend/partials/_navbar.twig' %}

{% block carousel %}
{% endblock %}

<div class="container content-container">
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
    {% include 'frontend/partials/_footer.twig' %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="application/javascript" src="{{ url('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>