/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.env.testing
/.idea
_ide_helper.php
.phpstorm.meta.php
tests/_output/*
tests/acceptance.suite.yml
tests/functional.suite.yml
tests/unit.suite.yml
codeception.yml
/public/uploads