/* Form Module */
.form-module {
  position: relative;
  background: $white;
  width: 385px;
  border-top: 5px solid $marvelRedBtnHover;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 150px auto 150px auto;

  .form {
    display: block;
    padding: 40px;
  }

  .form:nth-child(2) {
    display: block;
  }

  h2 {
    margin: 0 0 20px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }

  input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  input:focus {
    border: 1px solid $marvelRedBtnHover;
    color: #333333;
  }

  button.submit {
    cursor: pointer;
    background: $marvelRedBtn;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: $white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  button.submit:hover {
    background: $marvelRedBtnHover;
  }

  .cta {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666666;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid $marvelRedBorderBtn;

    a {
      color: #333333;
      text-decoration: none;
    }
  }

  .g-recaptcha {
    margin-bottom: 20px;
  }
}
