/* Form Module */
.form-module {
  position: relative;
  background: $white;
  width: 385px;
  border-top: 5px solid $redBackgroundHover;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 150px auto 150px auto;

  .form {
    display: block;
    padding: 40px 40px 10px 40px;
  }

  .form:nth-child(2) {
    display: block;
  }

  h2 {
    margin: 0 0 20px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }

  input {
    outline: none;
    display: block;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  input[type=submit] {
    background: $redBackground;
    color: $buttonTextColour;
    width: 100%;
  }

  input[type=submit]:hover {
    background: $redBackgroundHover;
    color: $buttonTextColour;
  }

  input:focus {
    border: 1px solid $redBackgroundHover;
    color: $redBackgroundHover;
  }

  button.submit {
    cursor: pointer;
    background: $redBackground;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: $white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  button.submit:hover {
    background: $redBackgroundHover;
  }

  .g-recaptcha {
    margin-bottom: 20px;
  }
}

.cta {
  display: block;
  clear: both;
  width: 100%;
  text-align: center;
  background: #d9d9d9;
  padding: 10px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: $black;
  font-size: 12px;
}

.cta:hover {
  background: $redBackgroundHover;
  color: #d9d9d9;
  text-decoration: none;
}