.comic-thumbnail {
  width: 280px;
}

.add-to-list.modal {
  .modal-header {
    border-bottom: 5px solid $marvelRedBtn;
  }
}

.series-page {
  .series-title {
    font-weight: bold;
    margin-top: 0;
  }
}