.footer {
  background-image: url('/images/footer.jpg');
  height: 380px;
  margin-top: 20px;

  .container {
    padding-top: 30px;
    color: #fff;
  }

  ul {
    list-style: none;

    li a {
      color: #fff;
    }
  }
}