$navbarHeight: 80px;

.navbar-nav {
  margin: 0;
}

.navbar {
  height: $navbarHeight;
  background: $black;
  font-weight: bold;

  .container {
    height: $navbarHeight;
  }

  .navbar-brand {
    height: $navbarHeight;
    margin: 0;
    padding: 0;

    img {
      height: $navbarHeight;
    }
  }

  .navbar-nav {
    a {
      font-weight: normal;
      transition: color 150ms ease-in;
      font-size: 16px;
    }

    li + li a {
      border-top: 1px solid #222;
    }
  }
}

.carousel {
  margin-top: $navbarHeight;
  border-top: 10px solid #222;
  border-bottom: 10px solid #222;
  background-color: $black;

  .carousel-inner {
    border: 0 none;
    width: auto;

    img {
      margin: 0 auto;
    }
  }

  .carousel-control {
    .right {
      background: $white;
    }
  }
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-inverse {
  .navbar-nav > li > a {
    color: $white;
  }
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: $redBackground;
}

#register-link {
  text-transform: uppercase;
}

.navbar-toggle {
  margin: 20px 15px;
  border: 0 none;
  border-radius: 0;

  .icon-bar {
    border-radius: 0;
    width: 26px;
    height: 4px;
  }
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-toggle:hover .icon-bar {
  background-color: $redBackground;
}

.navbar-collapse {
  background-color: $black;
  border: 10px solid $black;
  padding: 0;
}

.navbar-fixed-top + * {
  margin-top: $navbarHeight;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: 0;
  padding-top: 10px;
}

.navbar .navbar-nav li + li a {
  border-top: 0;
}

.social-block {
  margin-top: 35px;
  display: inline-block;
}

.social {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin: 0 10px 0 15px;
  width: 25px;
  border-radius: 4px;
  list-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  cursor: pointer;
  color: $white;
}

.social:hover {
  transition: color 150ms ease-in;
  color: $redBackground;
}

.social:active {
  color: $white;
}

@media (min-width: 991px) {
  .navbar-collapse.collapse {
    float: right;
  }
}

@media (max-width: 991px) {

  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding: 10px 10px 10px 20px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }
}
