.list-items-table {
  text-align: center;

  th {
    text-align: center;
  }

  .title {
    text-align: left;
  }

  .score {
    width: 50px;
  }

  .reread {
    width: 130px;
  }

  .modify-btns {
    width: 103px;
  }
}

.update-list-form {
  display: inline-block;
}


.list-page-container {
  margin-top: 100px;
}