.profile-card {
  padding: 10px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;

  .card-background {
    height: 240px;

    img {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
      margin-left: -160px;
      margin-top: -200px;
      min-width: 130%;
    }
  }

  .useravatar {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;

    img {
      width: 130px;
      height: 130px;
      max-width: 130px;
      max-height: 130px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.3);
    }
  }

  .card-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    overflow: hidden;
    font-size: 12px;
    text-overflow: ellipsis;

    .card-title {
      padding: 5px 30px;
      font-size: 28px;
      line-height: 1;
      color: $black;
      background-color: rgba(255, 255, 255, 0.8);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }

  .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
  }

  .change-avatar-form {
    float: right;
    position: absolute;
    right: 15px;
    z-index: 1000;
    bottom: 15px;
  }
}

.btn-pref .btn {
  -webkit-border-radius: 0 !important;
  background-color: $darkGray;
}

.btn-pref .btn:hover,
.btn-pref .btn:active {
  background-color: $redBackgroundHover;
  color: $white;
  transition: background-color 150ms ease-in;
}

.btn-pref .btn.selected {
  color: $white;
  background-color: $redBackgroundHover;
}

/* LIST MANAGEMENT TAB */
.list-card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .card-background {
    height: 80px;
    border-bottom: 1px solid #F5F5F5;
    img {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -o-filter: blur(4px);
      -ms-filter: blur(4px);
      filter: blur(4px);
      margin-left: -100px;
      margin-top: -200px;
      min-width: 130%;
    }
  }

  .card-heading {
    padding: 0 20px;
    margin: 0;
  }

  .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: $darkGray;
    border-bottom: 1px solid #e5e5e5;
  }

  .card-heading.image img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }

  .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
  }

  .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
  }

  .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
  }

  .card-body {
    padding: 0 20px;
    margin-top: 20px;
  }

  .card-media {
    padding: 0 20px;
    margin: 0 -14px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
  }

  .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;

    .comments-collapse-toggle {
      padding: 0;
      margin: 0 20px 12px 20px;
    }

    .comments-collapse-toggle a,
    .comments-collapse-toggle span {
      padding-right: 5px;
      overflow: hidden;
      font-size: 12px;
      color: #999;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .media-heading {
      font-size: 13px;
      font-weight: bold;
    }

  }
}

.list-card.characters {
  height: 230px;

  .info {
    .title {
      margin-top: 40px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.list-card.characters .card-background {
  height: 100%;
  width: 100%;
  position: absolute;

  img {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    margin-left: -30px;
    margin-top: -200px;
    min-width: 130%;
  }
}

.list-card.characters.hovercard .avatar {
  top: 30px;
  margin-bottom: 5px;
}

.list-card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);

  .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;

    img {
      width: 120px;
      height: 120px;
      max-width: 120px;
      max-height: 120px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.5);
    }
  }

  .info {
    position: relative;
    padding: 4px 8px 10px;

    .title {
      margin-bottom: 4px;
      font-size: 24px;
      color: $black;
      vertical-align: middle;
    }

    .desc {
      overflow: hidden;
      font-size: 12px;
      line-height: 20px;
      color: $darkGray;
      text-overflow: ellipsis;
      padding-bottom: 20px;
    }
  }
}