<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Learn more about us</h3>
                <ul>
                    {% for page in pages %}
                        <li>
                            <a href="{{ URL.route('frontend.static', { 'url_slug': page.url_slug }) }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                Data provided by Marvel. © 2014 Marvel
            </div>
        </div>
    </div>
</footer>