<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>{{ Lang.get('frontend/index.footer_learn_more') }}</h3>
                <ul>
                    {% for page in pages %}
                        <li>
                            <a href="{{ URL.route('frontend.static', { 'url_slug': page.url_slug }) }}">
                                {{ page.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="text-center">{{ Lang.get('frontend/index.footer_copyright')|raw }}</div>
    </div>
</footer>