<div class="col-lg-3 col-sm-6">
    <div class="thumbnail">
        <a href="{{ URL.route('frontend.series.show', {'id': comic['id'], 'url_slug' : str_slug(comic['title'])}) }}"
           class="details-btn">
            <div class="caption-img" style="background: url({{ comic['thumbnail']['path'] }}/{{ Config.get('marvel.series.thumbnail') }});"></div>
        </a>

        <div class="caption-details">
            <h3>{{ comic['title'] }}</h3>
        </div>
    </div>
</div>