{% extends 'layouts/default.twig' %}

{% block content %}
    <div id="content">
        <h2>Characters</h2>

        <div id="characters" class="results">
            {% for char in paginated_results %}
                <article class="card">
                    <img src="{{ char['thumbnail']['path'] }}/portrait_incredible.jpg"
                         alt="{{ char['name'] }} thumbnail">
                    <footer>
                        <h5>
                            <a href="#" class="card-title">{{ char['name'] }}</a>
                        </h5>
                    </footer>
                </article>
            {% endfor %}
        </div>

        <div id="pagination">
            {{ paginated_results.setPath('characters').render|raw }}
        </div>
    </div>
{% endblock %}