<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Get started with Read Marvel</title>

    <style type="text/css">

        @import url('https://fonts.googleapis.com/css?family=Montserrat');

        body {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        a.uoa:focus, a.uoa:hover, a.uoa:active, .uoa a:focus, .uoa a:hover, .uoa a:active {
            text-decoration: underline !important;
        }

        .eBtn1:hover {
            background-color: #000000;
        !important;
        }

        @media only screen and (max-width: 480px) {
            *[class~=rwf480] {
                width: 100% !important;
            }

            *[class~=rdb480] {
                display: block !important;
                margin: 0 !important;
            }

            *[class~=rda480] {
                display: block !important;
                padding-top: 15px !important;
                padding-bottom: 15px !important;
            }

            *[class~=rdn480] {
                display: none !important;
            }

            *[class~=rfm480] {
                font-size: 13px !important;
            }

            *[class~=rft480] {
                font-size: 12px !important;
            }

            *[class~=fld480] {
                height: auto !important;
                max-width: 600px !important;
                width: 100% !important;
            }

            *[class~=eContact] {
                margin: 0 auto !important;
                width: 100% !important;
            }

            *[class~=eContact] > tbody > tr > td {
                text-align: center !important;
            }

        }

        *[class~=mBody] {
            padding-right: 1px !important;
            padding-left: 1px !important;
        }

        .ecxeBtn1 a {
            line-height: 2.75em !important;
        }

    </style>
    <!--[if gte mso 9]>
    <style type="text/css">
        .eBtn1 {
            height: 50px !important;
            line-height: normal !important;
        }
    </style>
    <![endif]-->


</head>


<body class="mBody" bgcolor="#f3f3f3"
      style="font-family: Montserrat,sans-serif; font-size:16px; color:#0d2231; text-align:left;">

<!-- html wrapper -->
<table class="wrh" width="100%" cellpadding="0" cellspacing="0" bgcolor="#f2f5f6"
       style="font-family: Montserrat,sans-serif; font-size:16px; color:#333333; text-align:left;">
    <tr>
        <td class="wrs wrsL" bgcolor="#f3f3f3" style="font-size:3px;">&nbsp;</td>
        <td align="center" style="width:600px; max-width:600px; padding-top:5px;">

            <!-- preheader -->
            <table class="mPreh" cellpadding="0" cellspacing="0"
                   style="width:100%; font-family: Montserrat,sans-serif; font-size:11px; color:#999999;"
                   bgcolor="#ffffff">
                <tr>
                    <td class="rfm480 uoa" align="center">

<span class="ePrehText" style="display:none !important; display:none;">
your Marvel comic book lists in one place
<span class="divider"> &nbsp;|&nbsp; </span></span>

                    </td>
                </tr>
            </table>
            <!-- /preheader -->

            <!-- layout wrapper -->
            <table cellpadding="0" cellspacing="0" style="width:100%;" bgcolor="#ffffff">
                <tr>
                    <td style="width:600px; max-width:600px;">
                        <table cellpadding="0" cellspacing="0" style="width:100%;" bgcolor="#ffffff">
                            <tr>
                                <td align="center">

                                    <!-- header -->
                                    <table class="mHead" bgcolor="#000000" width="100%" cellpadding="0" cellspacing="0"
                                           style="font-family: Montserrat,sans-serif; font-size:14px;line-height:1.6em;color:#ffffff;letter-spacing:0.01em;">
                                        <tr>
                                            <td class="eHeadLogo rwf480 rdb480" align="middle" valign="middle"
                                                width="230" style="padding-top:0px;"><a
                                                        href="http://readmarvel.com/?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                        target="_blank"
                                                        style="font-size:18px; color:#ffffff; text-decoration:none;"><img
                                                            src="http://readmarvel.com/images/logo.png" width="160"
                                                            border="0" style="display:block;" alt="Read Marvel"
                                                            align="middle" title="Read Marvel"/></a></td>
                                            <td class="rdn480" width="40"></td>
                                            <td class="rwf480 rdb480 rda480" align="middle" valign="middle" width="280"
                                                style="padding-top:0px;"><a
                                                        href="http://readmarvel.com/series?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                        target="_blank" style="text-decoration:none;color:#ffffff;">Series</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                                        href="http://readmarvel.com/characters?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                        target="_blank" style="text-decoration:none;color:#ffffff;">Characters</a>&nbsp;&nbsp;&nbsp;&nbsp;<a
                                                        href="http://readmarvel.com/login?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                        target="_blank" style="text-decoration:none;color:#ffffff;">Account</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- /header -->


                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="25" style="font-size:2px; line-height:2px;">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->

                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           style="font-family: Montserrat,sans-serif; font-size:14px;line-height:1.6em;color:#0d2231;letter-spacing:0.01em;">
                                        <tr>
                                            <td style="padding-left:48px;padding-right:48px;">
                                                <table bgcolor="#ffffff">
                                                    <tr>
                                                        <td align="left"
                                                            style="padding-bottom:16px;font-family: Montserrat,sans-serif; font-size:14px;line-height:1.6em;color:#0d2231;letter-spacing:0.01em;">
                                                            Hi {{ name }},
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left"
                                                            style="font-family: Montserrat,sans-serif;  font-size:14px;line-height:1.6em;color:#0d2231;letter-spacing:0.01em;padding-bottom:0px;">
                                                            Did you already create a list on Read Marvel?<br/> Here a
                                                            few tips on how to get started.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="32" style="font-size:2px; line-height:2px;"> </td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->

                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           style="font-family: Montserrat,sans-serif; font-size:14px;line-height:1.6em;color:#0d2231;letter-spacing:0.01em;">
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td align="left"
                                                            style="padding-bottom:0px;padding-left:48px;padding-right:48px;font-family: Montserrat,sans-serif; font-size:17px;line-height:1.6em;color:#0d2231;letter-spacing:0.01em;font-weight:bold;">
                                                            Create lists of comic books
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="32" style="font-size:2px; line-height:2px;"> </td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->

                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr class="eDishImage">
                                            <td class="eDish rdb480 rwf480 rma480" width="100%" align="center"
                                                valign="top"><a
                                                        href="http://readmarvel.com/series/?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                        target="_blank"
                                                        style="text-decoration:none;width:500px;max-width:510px;"><img
                                                            src="http://readmarvel.com/images/emails/books.jpg"
                                                            border="0"
                                                            style="display:block;width:510px;max-width:510px;" alt=""
                                                            class="fld480"></a></td>
                                        </tr>
                                    </table>

                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="16" style="font-size:2px; line-height:2px;"> </td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->

                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="rha480 rwf480 rma480" align="left"
                                                valign="middle"
                                                style="font-family: Montserrat,sans-serif; font-size:14px;line-height:1.6em;padding-left:50px;padding-right:50px;padding-top:0px;padding-bottom:0px;color:#0d2231;letter-spacing:0.01em;">
                                                <a href="http://readmarvel.com/series/?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                   target="_blank"
                                                   style="font-size:14px; color:#0d2231; text-decoration:none;letter-spacing:0.01em;">
                                                    Look up your comic books on Read Marvel and organize them in custom
                                                    lists. All lists are public, so you can share them with friends or
                                                    on the social networks.
                                                </a></td>
                                        </tr>
                                    </table>

                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="32" style="font-size:2px; line-height:2px;"> </td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->

                                    <table width="100%" cellpadding="0" cellspacing="0"
                                           style="font-family: Montserrat,sans-serif; font-size:14px;line-height:1.6em;color:#0d2231;letter-spacing:0.01em;">
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td align="left"
                                                            style="padding-bottom:0px;padding-left:48px;padding-right:48px;font-family: Montserrat,sans-serif; font-size:17px;line-height:1.6em;color:#0d2231;letter-spacing:0.01em;font-weight:bold;">
                                                            Create lists of comic book characters
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="32" style="font-size:2px; line-height:2px;"> </td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->

                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr class="eDishImage">
                                            <td class="eDish rdb480 rwf480 rma480" width="100%" align="center"
                                                valign="top"><a
                                                        href="http://readmarvel.com/characters/?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                        target="_blank"
                                                        style="text-decoration:none;width:500px;max-width:510px;"><img
                                                            src="http://readmarvel.com/images/emails/heroes.jpg"
                                                            border="0"
                                                            style="display:block;width:510px;max-width:510px;" alt=""
                                                            class="fld480"></a></td>
                                        </tr>
                                    </table>

                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="16" style="font-size:2px; line-height:2px;"> </td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->

                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="rha480 rwf480 rma480" align="left"
                                                valign="middle"
                                                style="font-family: Montserrat,sans-serif; font-size:14px;line-height:1.6em;padding-left:50px;padding-right:50px;padding-top:0px;padding-bottom:0px;color:#0d2231;letter-spacing:0.01em;">
                                                <a href="http://readmarvel.com/characters/?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                   target="_blank"
                                                   style="font-size:14px; color:#0d2231;text-decoration:none;letter-spacing:0.01em;">
                                                    You can also collect and organize your favourite Marvel comic books
                                                    heroes in lists.
                                                </a></td>
                                        </tr>
                                    </table>

                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="32" style="font-size:2px; line-height:2px;"> </td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->

                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center">
                                                <!-- button -->
                                                <table class="eBtn" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td class="eBtn1" align="center"
                                                            style="border-radius:0px; line-height:2.80em; font-family: Montserrat,sans-serif;  font-size:14px; color:#ffffff;letter-spacing:0.01em;"
                                                            bgcolor="#E92227"><a
                                                                    href="http://readmarvel.com/?utm_medium=email&utm_source=transactional&utm_campaign=how_to"
                                                                    target="_blank"
                                                                    style="display:block; color:#ffffff; text-decoration:none; white-space:nowrap;">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;Get organizing&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- /button -->
                                            </td>
                                        </tr>
                                    </table>

                                    <!-- separator -->
                                    <table class="mSep" cellpadding="0" cellspacing="0" style="width:100%;">
                                        <tr>
                                            <td height="32" style="font-size:2px; line-height:2px;">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <!-- /separator -->


                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <!-- /layout wrapper -->


            <!-- contact -->
            <table class="mContact" width="100%" cellpadding="0" cellspacing="0" bgcolor="#000000">
                <tr>
                    <td class="cpl" width="5%">&nbsp;</td>
                    <td align="center" valign="top" style="font-size:18px;">&nbsp;
                        <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="middle" align="center" style="padding-top:15px;"><a
                                            href="https://twitter.com/readmarvel" target="_blank"
                                            style="text-decoration:none;"><img
                                                src="http://readmarvel.com/images/emails/twitter.png"
                                                width="16" border="0" style="display:inline;" alt="Twitter"
                                                title="Twitter"></a>&nbsp;&nbsp;<a
                                            href="https://www.facebook.com/readmarvel/" target="_blank"
                                            style="text-decoration:none;"><img
                                                src="http://readmarvel.com/images/emails/fb.png"
                                                width="16" border="0" style="display:inline;" alt="Facebook"
                                                title="Facebook"></a>&nbsp;&nbsp;<a
                                            href="https://www.instagram.com/readmarvel/" target="_blank"
                                            style="text-decoration:none;"><img
                                                src="http://readmarvel.com/images/emails/instagram.png"
                                                width="16" border="0" style="display:inline;" alt="Instagram"
                                                title="Istagram"></a></td>
                            </tr>
                            <tr>
                                <td valign="middle">
                                    <!-- note -->
                                    <table class="mNote rft480" width="100%" cellpadding="0" cellspacing="0"
                                           style="font-family: Montserrat,sans-serif; color:#ffffff; font-size:12px;">
                                        <tr>
                                            <td align="center" valign="middle"
                                                style="padding-top:10px;padding-left:15px;padding-right:5px;">
                                                <table cellpadding="0" cellspacing="0"
                                                       style="width:100%; font-family: Montserrat,sans-serif; font-size:13px; line-height:1.0em;">
                                                    <tr>
                                                        <td align="center" valign="top"
                                                            style="font-size:12px;color:#ffffff;line-height:1.6em;">
                                                            Missing a feature or have an idea on how to make Read Marvel
                                                            better? Send us an email at <a
                                                                    href="mailto:mail@readmarvel.com"
                                                                    target="_blank"
                                                                    style="font-size:12px; color:#ffffff; text-decoration:none;">mail@readmarvel.com</a>
                                                            or dive right into <a
                                                                    href="http://github.com/ivan-atanasov/readmarvel"
                                                                    target="_blank"
                                                                    style="text-decoration:none; color: #ffffff;">contributing
                                                                on <span
                                                                        style="text-decoration:underline;">GitHub</span></a>.
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- /note -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="mFootLegal" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center" valign="middle"
                                                style="padding-top:15px; padding-bottom:0px; padding-left:15px; padding-right:5px; font-family: Montserrat,sans-serif;  font-size:12px;color:#ffffff;">
                                                © 2017 Read Marvel.com
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="mFootLegal" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center" valign="middle"
                                                style="padding-top:15px; padding-bottom:15px; padding-left:15px; padding-right:5px; font-family: Montserrat,sans-serif; font-size:12px;color:#ffffff;">
                                                Data provided by Marvel. © 2014 Marvel
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="cpl" width="5%">&nbsp;</td>
                </tr>
            </table>
            <!-- /contact -->

        </td>
        <td class="wrs wrsR" bgcolor="#f3f3f3" style="font-size:3px;">&nbsp;</td>
    </tr>
</table>
<!-- /html wrapper -->

</body>
</html>