{% if errors|length %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        {% for error in errors.getMessages() %}
            <div>{{ error[0] }}</div>
        {% endfor %}
    </div>
{% endif %}

{% if Session.get('messages') %}
    {% if Session.get('messages.success') %}
        <div class="alert alert-success alert-dismissible" role="alert">
    {% elseif Session.get('messages.error') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
    {% elseif Session.get('messages.info') %}
        <div class="alert alert-info alert-dismissible" role="alert">
    {% elseif Session.get('messages.warning') %}
        <div class="alert alert-warning alert-dismissible" role="alert">
    {% endif %}

    {% for message in Session.get('messages') %}
        {{ message }}
    {% endfor %}

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
{% endif %}