<div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
        <a class="btn btn-danger" href="{{ route }}">
            {{ Lang.get('admin/index.cancel') }}
        </a>
        <button type="submit" class="btn btn-success">
            {{ Lang.get('admin/index.save') }}
        </button>
    </div>
</div>